/* OnSaleCard.css */

.on-sale-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .on-sale-card:hover {
    transform: translateY(-4px);
  }
  
  .on-sale-discount {
    align-self: flex-start;
    padding: 4px 8px;
    background-color: #f45e0c;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
  }
  
.img-on-sale{
    width: 50px;
}
  
  .on-sale-title {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
    overflow: hidden; /* Prevent long titles from overflowing */
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .on-sale-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .on-sale-old-price {
    text-decoration: line-through;
    color: #717171;
  }
  
  .on-sale-new-price {
    font-size: 18px;
    font-weight: bold;
    color: #0c0c0c;
  }
  