.img-contaner {
  display: flex;
  margin: 30px 0px;
}
.img-home-playstation {
    width: 470px;
    height: 400px;
    margin-left: 10px;
    size: 90%;
    
    border-radius: 16px;
    }
    .img-home-iphone {
        width: 850px;
        height: 400px;
        margin-left: 10px;
        size: 90%;
    border-radius: 16px;

    }

      /* Media query for tablets and smaller devices */
      @media (max-width: 992px) {
.img-contaner {

    display: flex;
flex-direction: column;
    align-items: center;
}
        .img-home-playstation {
          /* Adjust width for tablets */
          width: 50%;
          max-width: 370px; /* Limit maximum width */
          margin-left: 10px; /* Restore margin if needed */
        }
      
        .img-home-iphone {
          /* Adjust width for tablets */
          width: 90%;
          max-width: 650px; /* Limit maximum width */
          margin-left: 10px; /* Restore margin if needed */
        }
      }
      
      /* Media query for mobile devices */
      @media (max-width: 576px) {
        .img-home-playstation {
          /* Adjust width for smaller devices */
          width: 90%;
          max-width: 100%; /* Full width */
          margin-left: 0; /* Reset margin */
        }
      
        .img-home-iphone {
          /* Adjust width for smaller devices */

          margin-left: 0; /* Reset margin */
        }
      }
      