.category {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  justify-content: space-between;
  margin: 50px auto;
  width: 1224px;
  height: 196px;
  border-bottom: 1px solid rgb(92, 90, 90);
}

.category > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category > div > img {
  width: 148px;
  height: 148px;
}

.category > div > h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #2d2d2d;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .category {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: -20px;
  }

  .category > div {
    /* margin-bottom: 20px; */
  }

  .category > div > img {
    width: 100px;
    height: 100px;
  }

  .category > div > h1 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .category {
    gap: 12px;
  }

  .category > div > img {
    width: 90px;
    height: 100px;
  }

  .category > div > h1 {
    font-size: 18px;
  }
}
