.category {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  justify-content: space-between;
  margin-left: 50px;
  margin-top: 50px;
  width: 1224px;
  height: 196px;
  left: calc(50% - 1224px / 2);
  top: 592px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(92, 90, 90); 
  
  
}
.category > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.category > div > img {
  width: 148px;
  height: 148px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.category > div > h1 {
  width: 91px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #2d2d2d;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 100px;

}
