.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
  border-bottom: 1px solid rgb(151, 149, 149);
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  gap: 70px;
  text-align: start;
}
.h-text {
  width: 337px;
  height: 77px;
  left: calc(50% - 337px / 2 - 443.5px);
  top: 156px;

  /* Web/Display1 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;

  /* Primary/Primary 700 */
  color: #042352;
}
.paragraph-text {
  width: 419px;
  height: 39px;
  left: calc(50% - 419px / 2 - 402.5px);
  top: 283px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;

  color: #042352;
}
.span-text {
  color: #f45e0c;
}
.laptop-img {
  height: 450px;
}
.btn-header {
  color: white;
  border: none;
  flex-direction: row;
  justify-content: center;
  padding: 8px 16px;
  gap: 8px;
  width: 288px;
  height: 56px;
  background: #f45e0c;
  border-radius: 8px;
}
